*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#nav {
  background-color: orange;
  display: flex;
  height: 130px;
  width: 100%;
  align-items: center;
}

a {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
nav a:hover {
  color: blue;
  transform: scale(1.1);
}

.nav a {
  color: rgb(76, 0, 255);
}
#logo {
  height: 100%;
  border-radius: 100%;
}

#barrenav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.navlink {
  background-color: orangered;
  display: flex;
  color: white;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

main{
    display: flex;
    
}

.titre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    margin: 20px 5px 10px 0px;
}

.sous-titre{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    margin: 20px 2px 0px 0px;
}

.paragraphe{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
#gauche{
    background-color: #976700;
    padding: 2px;
    color: white;
    width: 50%;
}

#droite{
    color: #242b2e;
    background-color: #ffffff;
    padding: 0px 20px;
    width: 60%;

}

#présentation{
    background-color: #5e4500;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stat{
    margin: 50px;
    height: 20px;
    display: block;
    background-color: white !important;
}

.barre{
    background-color: #1e2427 !important;
    padding: 10px;
    align-items: flex-start;
}

#compmicro{
    width: 80%;
}
#compphoto{
    width: 75%;
}
#compsony{
    width: 90%;
}
#compadobe{
    width: 87%;
}
#compgoogle{
    width: 70%;
}

#imageprofil{
    border-radius: 100%;
    background-color: white;
    width: 60%;
    margin: 5px;
    position: relative;
    justify-content: center;


}

.text-center{
    text-align: center;
}

.logo{
    width: 300px;
}
#align-logo{
    display: flex;
    flex-wrap: wrap;
    flex: 50px;
    justify-content: space-around;
}

.proplogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    margin: 0px 0px;
}

.gros{
    font-size: 50px;
}

.margin{
    margin: 10px;
}

.padding{
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .logo{
        width: 100px;
    }
    .gros{
        font-size: 1.6rem;
    }

    .titre{
        font-size: 1.2rem;
    }

    .sous-titre{
        font-size: 1.1rem;
    }

    .paragraphe{
        font-size: 0.9rem;
    }
}
